<a href="https://colab.research.google.com/github/YUEUN328/202110_itw_lab_python/blob/main/py20_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 필요한 모듈을 import
import pandas as pd  # DataFrame, Series
import seaborn as sns  # 시각화(그래프) 패키지. 예제 데이터프레임.

# tips DataFrame

In [2]:
# seaborn 패키지의 'tips' 예제 데이터셋을 로드
tips = sns.load_dataset('tips')

In [3]:
type(tips)

pandas.core.frame.DataFrame

In [4]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [5]:
# DataFrame의 모양(shape) -> (rows, columns)
tips.shape

(244, 7)

In [6]:
# DataFrame의 컬럼 이름들
tips.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [7]:
# DataFrame의 행 인덱스
tips.index

RangeIndex(start=0, stop=244, step=1)

In [9]:
# Dataframe의 첫 5개 행을 출력
tips.head()  # argument n의 기본값 = 5

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [12]:
tips.iloc[:5]

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [10]:
#DataFrame에서 마지막 5개 행 출력
tips.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [11]:
tips.iloc[-5:]

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [13]:
# DataFrame의 연속형 변수(숫자 타입 변수)들의 기술 통계량
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [14]:
# 카테고리 타입 변수 요약 - 빈도수
tips['sex'].value_counts()

Male      157
Female     87
Name: sex, dtype: int64

In [15]:
tips['smoker'].value_counts()

No     151
Yes     93
Name: smoker, dtype: int64

In [16]:
tips['day'].value_counts()

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

In [18]:
tips['time'].value_counts()

Dinner    176
Lunch      68
Name: time, dtype: int64

In [23]:
# total_bill(영수증 금액)이 최댓값인 행을 출력
tips[tips['total_bill'] == tips['total_bill'].max()]

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3

In [24]:
# total_bill이 최솟값인 행을 출력
tips[tips['total_bill'] == tips['total_bill'].min()]

    total_bill  tip     sex smoker  day    time  size
67        3.07  1.0  Female    Yes  Sat  Dinner     1

In [25]:
# total_bill이 최댓값이거나 최솟값인 행을 출력
tips[(tips['total_bill'] == tips['total_bill'].max()) | 
     (tips['total_bill'] == tips['total_bill'].min())]

     total_bill   tip     sex smoker  day    time  size
67         3.07   1.0  Female    Yes  Sat  Dinner     1
170       50.81  10.0    Male    Yes  Sat  Dinner     3

성별 팁의 차이가 있을까?

In [32]:
# 남성들의 팁의 평균
tips[tips['sex'] == 'Male']['tip'].mean()

3.0896178343949052

In [34]:
# 여성들의 팁의 평균
tips[tips['sex'] == 'Female']['tip'].mean()

2.833448275862069

In [35]:
# 남성들의 팁의 최댓값
tips[tips['sex'] == 'Male']['tip'].max()

10.0

In [36]:
# 여성들의 팁의 최댓값
tips[tips['sex'] == 'Female']['tip'].max()

6.5

In [37]:
# 성별 컬럼의 중복되지 않는 값들
tips['sex'].unique()

['Female', 'Male']
Categories (2, object): ['Male', 'Female']

In [43]:
# 성별 팁의 평균
for s in tips['sex'].unique():  # for s in ['Female', 'Male']:
    subset = tips[tips['sex'] == s]  # 성별 부분집합(DataFrame)
    tip_mean = subset['tip'].mean()  # 성별 팁의 평균
    print(f'{s} {tip_mean}')  # 결과 출력

Female 2.833448275862069
Male 3.0896178343949052

In [45]:
tips.groupby(by='sex')['tip'].mean()

sex
Male      3.089618
Female    2.833448
Name: tip, dtype: float64

In [47]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

흡연 여부별로 팁의 차이가 있을까?

In [48]:
# 흡연 여부별 팁의 평균
tips.groupby(by='smoker')['tip'].mean()

smoker
Yes    3.008710
No     2.991854
Name: tip, dtype: float64

요일별 팁의 차이가 있을까?

In [49]:
# 요일별 팁의 평균
tips.groupby(by='day')['tip'].mean()

day
Thur    2.771452
Fri     2.734737
Sat     2.993103
Sun     3.255132
Name: tip, dtype: float64

성별, 흡연여부별 팁의 차이가 있을까?

In [50]:
tips.groupby(by=['sex', 'smoker'])['tip'].mean()

sex     smoker
Male    Yes       3.051167
        No        3.113402
Female  Yes       2.931515
        No        2.773519
Name: tip, dtype: float64

성별, 요일별 팁의 차이가 있을까?

In [51]:
tips.groupby(by=['sex', 'day'])['tip'].mean()

sex     day
Male    Thur    2.980333
        Fri     2.693000
        Sat     3.083898
        Sun     3.220345
Female  Thur    2.575625
        Fri     2.781111
        Sat     2.801786
        Sun     3.367222
Name: tip, dtype: float64

## 여러 가지 다양한 groupby

In [52]:
# 성별 total_bill과 tip의 평균
tips.groupby(by='sex')[['total_bill', 'tip']].mean()

        total_bill       tip
sex
Male     20.744076  3.089618
Female   18.056897  2.833448

In [54]:
# 성별, 흡연 여부별 total_bill과 tip의 평균
tips.groupby(by=['sex', 'smoker'])[['total_bill', 'tip']].mean()

               total_bill       tip
sex    smoker
Male   Yes      22.284500  3.051167
       No       19.791237  3.113402
Female Yes      17.977879  2.931515
       No       18.105185  2.773519

In [55]:
# 성별 팁의 평균, 최댓값, 최솟값
tips.groupby(by='sex')['tip'].agg(['mean', 'max', 'min'])  # aggregate

            mean   max  min
sex
Male    3.089618  10.0  1.0
Female  2.833448   6.5  1.0

In [56]:
import numpy as np

In [57]:
tips.groupby(by='sex')['tip'].agg([np.mean, np.max, np.min])

            mean  amax  amin
sex
Male    3.089618  10.0   1.0
Female  2.833448   6.5   1.0

In [58]:
# 성별, 요일별 팁의 평균, 표준편차
tips.groupby(by=['sex', 'day'])['tip'].agg([np.mean, np.std])

                 mean       std
sex    day
Male   Thur  2.980333  1.353734
       Fri   2.693000  1.136428
       Sat   3.083898  1.791360
       Sun   3.220345  1.271172
Female Thur  2.575625  1.109286
       Fri   2.781111  0.938862
       Sat   2.801786  1.234480
       Sun   3.367222  1.136775

In [60]:
# 성별, 요일별, 영수증 금액과 팁의 평균, 표준편차
tips.groupby(by=['sex', 'day'])[['total_bill', 'tip']].agg([np.mean, np.std])

            total_bill                  tip
                  mean        std      mean       std
sex    day
Male   Thur  18.714667   8.019728  2.980333  1.353734
       Fri   19.857000  10.015847  2.693000  1.136428
       Sat   20.802542   9.836306  3.083898  1.791360
       Sun   21.887241   9.129142  3.220345  1.271172
Female Thur  16.715312   7.759764  2.575625  1.109286
       Fri   14.145556   4.788547  2.781111  0.938862
       Sat   19.680357   8.806470  2.801786  1.234480
       Sun   19.872222   7.837513  3.367222  1.136775